@model IEnumerable<Food_Scape.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h-100 d-flex align-items-center">
    <div class="col-sm-6 mx-auto">
        @if (ViewBag.Message != "")
        {
            <h1 class="text-success text-center">@ViewBag.Message</h1>
        }
        @if (ViewBag.Error != "")
        {
            <h1 class="text-danger text-center">@ViewBag.Error</h1>
        }
        <h1 class="text-center">Tickets</h1>
        <p class="text-center">
            <a asp-action="Create" asp-controller="Ticket">Create New Ticket</a>
        </p>
        <form asp-action="Index" method="get" class="px-5">
            <div class="form-actions no-color admin-searchBar d-flex flex-row justify-content-center align-items-center">
                <div class="form-group align-items-center" style="display: inline-block">
                    <span>Search Event Tickets By ID:</span>
                    <input type="text" name="SearchString"
                           value="@ViewData["currentFilter"]" required />
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
                <a asp-action="Index" class="mx-4">Clear Search Bar</a>
            </div>
        </form>
        <div class="admin-panel overflow-auto">
            <table class="table table-bordered text-center table-striped shadow rounded">
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Ticket Type ID</th>
                        <th>User ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model)
                    {
                        <tr>
                            <td>@ticket.TicketId</td>
                            <td>@ticket.TicketTypeId</td>
                            <td>@ticket.UserId</td>
                            <td class="">
                                <a>
                                    @Html.ActionLink(
                                        "Edit",
                                        actionName: "Edit",
                                        controllerName: "Ticket",
                                        new { id = ticket.TicketId }
                                    )
                                </a> |
                                <a asp-action="Details" asp-controller="Ticket" asp-route-id="@ticket.TicketId">Details</a> |
                                <a asp-action="Delete" asp-controller="Ticket" asp-route-id="@ticket.TicketId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="h4">
            <a asp-action="Index" asp-controller="Admin">Back to Admin Panel</a>
        </div>
    </div>
</div>
